<!doctype html>
<html lang="en" class="no-js">
<head>
  <meta charset="utf-8">
  <script>
    document.documentElement.className = document.documentElement.className.replace(/\bno-js\b/g, '') + 'has-js ';
  </script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="{{ renderData.description or description or metadata.description }}">
  <meta name="generator" content="Eleventy">

  <title>{{ renderData.title or title or metadata.title }}</title>

  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Space+Mono|Roboto">
  <link rel="stylesheet" href="/styles/index.css">
  <link rel="stylesheet" href="//unpkg.com/aos@next/dist/aos.css" />

  <link rel="icon" type="image/png" href="/images/logo-256.png">

  <!--Put this in the head-->
  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-TXZ7DNN');</script>
  <!-- End Google Tag Manager -->

  <!--Put this in the body -->
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TXZ7DNN"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->

</head>

<body class="font-space_mono" id="top" itemscope itemtype="http://schema.org/WebPage">


  <header class='w-full py-4 fixed top-0 left-0 right-0 nav bg-white'>
    <div class='container mx-auto px-4 flex justify-between items-center'>
      <div class='logo'>
        <a href='/'>
          <img src='/images/logo.png' />
        </a>
      </div>
      <div>
        <ul class='flex items-center'>
          <li class='mx-6 hidden md:block'><a href='#team' class='non-cta text-black'>Our Team</a></li>
          <li class='mx-6 hidden md:block'><a href='https://helpcenter.photofinish.io' class='non-cta text-black' target='_blank'>Support</a></li>
          <li class='ml-6'><a href='https://apps.shopify.com/photo-finish' target='_blank' class='cta md:py-4 md:px-8 py-3 px-5 text-sm md:text-base border-black border-2 text-black font-bold'>Get Started</a></li>
        </ul>
      </div>
    </div>
  </header>
  
  {{ content | safe }}

  <footer class='block py-8'>
    <div class='container mx-auto px-4 flex justify-between items-center pb-4'>
      <div class='logo'>
          <img src='/images/logo-256.png' class='logo-reg' />
          <img src='/images/logo-256-rev.png' class='logo-rev' />
      </div>

      <ul class='flex flex-1 text-sm md:justify-end'>
          <div class='w-full flex flex-col sm:flex-row items-end sm:items-center sm:justify-end'>
            <li class='mx-2 mb-2 sm:mb-0 sm:mx-6'><a href='#team' class='non-cta text-black'>Our Team</a></li>
            <li class='mx-2 mb-2 sm:mb-0 sm:mx-6'><a href='https://helpcenter.photofinish.io' target='_blank' class='non-cta text-black'>Get Started</a></li>
            <li class='mx-2 mb-2 sm:mb-0 sm:mx-6'><a href='/privacy' class='non-cta text-black'>Privacy Policy</a></li>
            <li class='mx-2 sm:mr-0 sm:ml-6'><a href='https://apps.shopify.com/photo-finish' target='_blank' class='non-cta text-black'>Try it now</a></li>
          </div>
        </ul>
    </div>

    <div class='container mx-auto px-4 opacity-50 text-right'>
      <span class='text-xs'>Lovely open source illustrations by <a href='https://undraw.co/' target='_blank'>unDraw</a></span>
    </div
  </footer>
  
  <script src="/scripts/index.js"></script>
  <script src="//unpkg.com/aos@next/dist/aos.js"></script>
  <script>
    AOS.init({
      delay: 50
    });
  </script>

  <!--Put this in the body -->
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TXZ7DNN"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->

</body>

</html>
