---
layout: layouts/base.njk
title: Photo Finish
description: Import Product Photos into Shopify
---

<main>
	<div class="container mx-auto px-4">

		<section class='w-full py-20 md:py-24 flex items-center flex-wrap md:flex-row flex-col-reverse min-h-screen' data-aos='fade-up'>

			<div class='md:w-1/2 w-full h-full flex items-center'>
				<div class='block w-full md:pr-12'>
					<h1 class='font-space_mono block mb-4 text-2xl md:text-4xl leading-tight'>Import thousands of product photos to Shopify in minutes.</h1>
				</div>
			</div>

			<div class='md:w-1/2 w-full mb-12 md:mb-0'>
				<img src='images/finish-line.svg' />
			</div>

		</section>


		<section class='w-full py-20 md:py-24 flex items-center flex-wrap md:min-h-screen' data-aos='fade-up'>

			<div class='md:w-1/2 w-full mb-12 md:mb-0'>
				<img src='images/placing-images.svg' />
			</div>

			<div class='md:w-1/2 w-full h-full flex items-center'>
				<div class='block w-full md:pl-12'>
					<h2 class='font-space_mono block mb-4 text-2xl md:text-4xl leading-tight'>Save days of data entry</h2>
					<p>Spend minutes, not days, importing photos. We take the pain out of uploading product photos to Shopify.</p>
				</div>
			</div>

		</section>

		<section class='w-full py-20 md:py-24 flex items-center flex-wrap md:flex-row flex-col-reverse md:min-h-screen' data-aos='fade-up'>

			<div class='md:w-1/2 w-full h-full flex items-center'>
				<div class='block w-full md:pr-12'>
					<h2 class='font-space_mono block mb-4 text-2xl md:text-4xl leading-tight'>No technical skills required</h2>
					<p>Get started in a snap. Simply upload your photos to Dropbox, export your products from Shopify, and let Photo Finish do the rest.</p>
				</div>
			</div>

			<div class='md:w-1/2 w-full mb-12 md:mb-0'>
				<img src='images/coding.svg' />
			</div>

		</section>

		<section class='w-full py-20 md:py-24 flex items-center flex-wrap md:min-h-screen' data-aos='fade-up'>

			<div class='md:w-1/2 w-full mb-12 md:mb-0'>
				<img src='images/support.svg' />
			</div>

			<div class='md:w-1/2 w-full h-full flex items-center'>
				<div class='block w-full md:pl-12'>
					<h2 class='font-space_mono block mb-4 text-2xl md:text-4xl leading-tight'>Expert support</h2>
					<p>Not a Shopify expert? Don’t worry—we are. And we offer personalized support from our team of developers.</p>
				</div>
			</div>

		</section>

		<div class='block w-full py-20' data-aos='fade-up'>
			<div class='w-3/4 md:w-1/2 mx-auto block'>
				<img src='images/blob-shape.svg' />
			</div>
		</div>

		<section class='w-full py-20 md:py-24 flex items-center flex-wrap md:flex-row flex-col-reverse md:min-h-screen' id='team'  data-aos='fade-up'>

			<div class='md:w-1/2 w-full h-full flex items-center'>
				<div class='block w-full md:pr-12'>
					<h2 class='font-space_mono block mb-4 text-lg md:text-3xl leading-tight'>Our Team</h2>
					<p class='mb-3'>We're Mark and Robbie, two web developers in NYC. We’ve worked with all kinds of great clients, like Google, BMW, Dean & Deluca and Bergdorf Goodman. Together, we have more than 15 years experience with Shopify.</p>
					<p>We made Photo Finish because we couldn’t stand to waste another day manually uploading product photos. We hope you like it. </p>
				</div>
			</div>

			<div class='md:w-1/2 w-full mb-12 md:mb-0 flex justify-between text-center'>
				<div class='w-1/2 pr-4'>
					<div class='mb-2'>
						<img src='images/mark.jpg' />
					</div>
					<span class='text-sm'>Mark Perini</span>
				</div>
				<div class='w-1/2 pl-4'>
					<div class='mb-2'>
						<img src='images/robbie-brightened.JPG' />
					</div>
					<span class='text-sm'>Robbie Sherrard</span>
				</div>
			</div>

		</section>
		

	</div>
</main>